// Place all the styles related to the customer::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* トップページ */

.top-heading {
  margin-top: 10px;
}

.top-title {
  font-size: 100px;
}

.top-description {
  font-size: 26px;
  margin-bottom: 10px;
}

.link-button {
  margin-top: 30px;
}

.ranking-heading {
  margin: 25px 0;
}

/* 概要ページ */

.about-description {
  line-height: 1px;
}

.about-description h4 {
  line-height: 30px;
}

.how-to-use {
  margin-top: 80px;
}

.how-to-use-item {
  padding-bottom: 10px;
}

.how-to-use ul li {
  list-style: square;
}

.image1 {
  background-image: image-url("about-image1.jpg");
}
.image2 {
  background-image: image-url("about-image2.jpg");
}

.image3 {
  background-image: image-url("about-image3.jpg");
}
.image4 {
  background-image: image-url("about-image4.jpg");
}

@media screen and (max-width: 768px) {

  /* トップページ */

  .top-heading {
    margin-top: 5px;
  }

  .top-title {
    font-size: 55px;
  }

  .top-description {
    font-size: 18px;
    margin-bottom: 2px;
  }

  /* 概要ページ */

  .about-page h1 {
    font-size: 12px;
  }

  .about-page h4 {
    font-size: 8px;
  }

  .about-description {
    line-height: 1px;
  }

  .about-description h4 {
    line-height: 15px;
  }

  .how-to-use {
    margin-top: 30px;
  }

  .how-to-use-item {
    padding-bottom: 2px;
  }

}

@media screen and (max-width: 576px) {

  /* トップページ */

  .top-heading {
    margin: 0px;
  }

  .top-title {
    font-size: 32px;
  }

  .top-description {
    font-size: 12px;
    margin-bottom: 2px;
  }

}