<% provide(:title, "概要") %>

<div class="row about-page">

  <div class="col-sm-12">
    <div class="col-12 col-xs-12 col-sm-8">
      <h1><strong><u><i class="fas fa-file-alt"></i> About this website ~ サイト概要 ~</u></strong></h1><br>
      <div class="about-description">
        <h4>皆さんにはある特定のフードとドリンクなどのお勧めの組み合わせはございますか？</h4><br>

        <h4>もちろんコーヒー単体でも、あるいはドーナツ単体でも楽しめることができますが、<br>コーヒーとドーナツを一緒に味わうことで、<br>お互いの良さを更に引き立てもっと美味しくいただけることがあります。</h4><br>

        <h4>これは「<strong>フードペアリング</strong>」と呼ばれておりますが、<br>「<strong>PairingTime</strong>」では皆さんが発見した相性が良い組み合わせを共有していただき、<br>ユーザーの皆さんのほっと一息付く時間がより有意義な時間になったら嬉しく思います。</h4>
      </div>
    </div>
    <div class="col-6 col-xs-6 col-sm-4">
      <div id="slideshow" class="about-image circle">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="col-6 col-xs-6 col-sm-4">
      <%= image_tag asset_path("about-animation.gif"), class:"about-image circle" %>
    </div>
    <div class="col-12 col-xs-12 col-sm-8">
      <div class="col-12 col-xs-12 col-sm-12">
        <h1 class="pull-right"><strong><u><i class="fas fa-file-alt"></i> How to use this website ~ 使い方 ~</u></strong></h1>
      </div><br>
      <div class="how-to-use">
        <ul>
          <li class="how-to-use-item"><h4>あなたのお勧めの組み合わせを投稿して、他のユーザーと共有しましょう！</h4></li>
          <li class="how-to-use-item"><h4>他のユーザーが共有した組み合わせを試してみましょう！</h4></li>
          <li class="how-to-use-item"><h4>コメントやチャットを利用して、他のユーザーと交流することも可能です！</h4></li>
          <li class="how-to-use-item"><h4>美味しそう写真を投稿して、ご自身のマイページを彩りましょう！</h4></li>
          <li class="how-to-use-item"><h4>要望やお困りなことなどあれば、お気軽に<u><%= link_to "お問い合わせフォーム", new_contact_path %></u> をご利用ください！</h4></li>
        </ul>
      </div>
    </div>
  </div>

</div>