<div class="sort-form col-6 col-xs-6 col-sm-4 pull-left">
  <%= form_with(url: sort_admin_customers_path, method: :GET, local: true) do |f| %>
  <div class="input-group">
    <%= f.select :keyward, [
      ['登録日が新しい順', 'new'],
      ['登録日が古い順', 'old'],
      ['有効会員', 'active'],
      ['退会済み会員', 'inactive'],
      ['ニックネーム五十音順', 'nickname']
    ],
    {}, class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-brown" do %>
      <i class="fas fa-filter"></i>
      <% end %>
    </span>
  </div>
  <% end %>
</div>