<% provide(:title, "通知一覧") %>

<% @notifications = @notifications.where.not(visiter_id: current_customer.id) %>

<div class="col-12 col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1">
  <h2 class="heading text-center">通知一覧</h2>
  <% if @notifications.exists? %>
  <div class="col-4 col-xs-4 col-sm-2">
    <%= link_to notifications_path, method: :DELETE do %>
    <h5 class="btn btn-danger btn-block pull-left"><i class="fas fa-trash-alt"></i> 全削除</h5>
    <% end %>
  </div>
  <div>
    <%= render @notifications %>
  </div>
  <div class="text-center col-12 col-xs-12 col-sm-12"><%= paginate @notifications  %></div>
  <% else %>
  <h4>通知はありません</h4>
  <% end %>
</div>