<div class="sort-form col-6 col-xs-6 col-sm-4 pull-left">
  <%= form_with(url: sort_pairs_path, method: :GET, local: true) do |f| %>
  <div class="input-group">
    <%= f.select :keyward, [ 
      ['投稿が新しい順', 'new'],
      ['投稿が古い順', 'old'],
      ['お気に入り追加が多い順', 'likes'],
      ['お気に入り追加が少ない順', 'dislikes'],
      ['コメントが多い順', 'many_comments'],
      ['コメントが少ない順', 'few_comments'],
    ],
    {}, class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-brown" do %>
      <i class="fas fa-filter"></i>
      <% end %>
    </span>
  </div>
  <% end %>
</div>