<div class="row">

  <h2 class="heading text-center">お気に入り一覧（全<%= current_customer.like_pairs.count %>件）</h2>

  <div id="jscroll">
    <%= render 'customer/pairs/index', pairs: @like_pairs %>
    <div><%= link_to_next_page @like_pairs, '次のページ', class: "next" %></div>
  </div>

</div>
