<p>PairingTimeのパスワード再発行のリクエストを受け付けました。</p>

<p>パスワードの再設定をご希望の場合は、以下URLをクリックし
新しいパスワードをご登録ください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードリセットの申請に心当たりがない場合は、
　以降の対応は不要となります。</p>
