<footer class="footer navbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <% unless admin_signed_in? %>
      <div class="share-button">
        <!-- Facebook共有 -->
        <%= link_to "http://www.facebook.com/share.php?u=https://pairingtime.work/", target: :_blank, class: "btn btn-xs btn-white" do %>
        <i class="fab fa-facebook-square fa-2x faa-tada animated-hover"></i>
        <% end %>
        <!-- Line共有 -->
        <%= link_to "https://social-plugins.line.me/lineit/share?url=https://pairingtime.work/&text=PairingTime", target: :_blank, class: "btn btn-xs btn-white" do %><i class="fab fa-line fa-2x faa-tada animated-hover"></i>
        <% end %>
        <!-- Twitter共有 -->
        <%= link_to "http://twitter.com/share?url=https://pairingtime.work/&text=PairingTime", target: :_blank, rel:"nofollow", class: "btn btn-xs btn-white" do %>
        <i class="fab fa-twitter-square fa-2x faa-tada animated-hover"></i>
        <% end %>
      </div>
      <% end %>
      <div class="pull-right">
        <p>© All rights reserved by Yoshida Inc.</p>
      </div>
    </div>
  </div>
</footer>